.game{
    height: 400px;
    width: 1000px;
    background-color: coral;
}
.info{

    align-self: flex-start;
    width: 250px;
    background-color: red;
}

.info__item{
    display: inline-block;
    height: 50px;
    width: 80px;
    background-color: orange;
}