.app {
    display: flex;
    justify-content: center;
}

.game{
    background-image: url("game_screeen.jpg");
    height:  560px;
    width: 1000px;
    background-color: coral;
}
.info{
    align-self: flex-start;
    width: 250px;
    background-color: red;
}
.topor{
    margin: 30px 670px;
    height: 150px;
    width: 350px;
    transform: scale(0.7, 0.7);
    background: url("axe.jpg") no-repeat;
    background-size:contain;
}

.topor_active{
    margin: 30px 670px;
    height: 150px;
    width: 350px;
    transform: scale(0.7, 0.7);
    background: url("axe_active.jpg") no-repeat;
    background-size:contain;
}

.info__item{
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
    background-color: orange;
}

.score {
    display: flex;
    justify-content: space-around;
}
.records{
    background-color: cyan;
    height: 500px;
    margin-left: 20px;
}

