<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Угадай топор</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="app">
        <div class="game">
            <div class="topor" id = "topor_1" onclick="kakoi_topor(1)"></div>
            <div class="topor" id = "topor_2" onclick="kakoi_topor(2)"></div>
            <div class="topor" id = "topor_3" onclick="kakoi_topor(3)"></div>

        </div>
        <div class="info">
            <div class="info__item">
                <div class="score">
                    <p class="score__info">
                        Время:
                    </p>
                    <p id="score" class="score__info">
                        Очки:
                    </p>
                </div>
            </div>
            <div class="info__item">
                <div class="records">
                    <div class="records__record">
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
<script src="../static/script.js"></script>

</html>